{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-white text-center">
                <h4>ORVBA Login</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" required autofocus>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-dark w-100">Login</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <p class="mb-1">New User? <a href="{% url 'register_customer' %}">Register here</a></p>
                <p class="mb-0">Are you a Mechanic? <a href="{% url 'register_mechanic' %}">Join us</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}